<div th:object="${articles}">
    <div>
        <h1 class="font-bold text-2xl">Liste des articles</h1>
    </div>
    <div id="filtreDeco" class="max-w-sm mx-auto">
        <form th:action="articles" method="get" th:object="${filterDto}">
            [[${filterDto}]]
            <input name="nomArticle" th:value="*{nomArticle}" type="text" placeholder="Le nom de l'article contient">
            <label for="categorie"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Catégorie</label>
            <select id="categorie" name="noCategorie"
                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="0">Toutes</option>
                <option
                        th:selected="${categorie.noCategorie == filterDto.noCategorie}"
                        th:each="categorie : ${categories}"
                        th:value="${categorie.noCategorie}"
                        th:text="${categorie.libelle} +':'+ ${categorie.noCategorie}">
                </option>
            </select>
            <button type="submit"
                    class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Recherche
            </button>

            <div sec:authorize="isAuthenticated()">
                <div class="flex items-center ps-4">

                    <ul class="w-60 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                        <li>
                            <div class="flex items-center ps-3">
                                <input  type="radio" th:field="*{achat}" value="true"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="bordered-radio-1"
                                       class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Achats</label>
                            </div>
                        </li>
                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="vue-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="vue-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">enchères
                                    ouvertes
                                </label>
                            </div>
                        </li>

                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="react-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="react-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">mes
                                    enchères en cours</label>
                            </div>
                        </li>

                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="react-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="react-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">mes
                                    enchères remportées
                                </label>
                            </div>
                        </li>
                    </ul>

                    <ul class="w-60 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                        <li>
                            <div class="flex items-center ps-3">
                                <input id="bordered-radio-1" type="radio" value="false" th:field="*{achat}"
                                       name="bordered-radio"
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="bordered-radio-1"
                                       class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mes
                                    Ventes</label>
                            </div>
                        </li>

                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="angular-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="angular-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">ventes
                                    en
                                    cours</label>
                            </div>
                        </li>

                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="angular-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="angular-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">ventes
                                    non
                                    débutées</label>
                            </div>
                        </li>

                        <li class="w-full  border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="laravel-checkbox" type="checkbox" value=""
                                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="laravel-checkbox"
                                       class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">ventes
                                    terminées</label>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="flex flex-wrap pt-5">
    <div class="w-1/2 pb-5" th:each="article : ${articles}">
        <a th:href="@{articles/detail/{noArticle}(noArticle=${article.noArticle})}">

            <div class="gap-5 mx-auto flex flex-row items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                     src="images/logo.jpg">
                <ul>
                    <li>NO CATEGORIE [[${article.categorie.noCategorie}]]</li>
                    <li class="underline" th:text="${article.nomArticle}">Nom
                        de l'annonce
                    </li>
                    <li>Prix : <span th:text="${article.prixInitial}"></span></li>
                    <li>Fin d'enchère : <span th:text="${article.dateFinEncheres}"></span></li>
                    <li>Vendeur : <span class="underline" th:text="${article.utilisateur.pseudo}"></span> <a
                            sec:authorize="isAuthenticated()"
                            th:href="@{/utilisateurs/detail/{noUtilisateur}(noUtilisateur=${article.utilisateur.noUtilisateur})}"></a>
                    </li>
                </ul>
            </div>
        </a>

    </div>
</div>

