<div th:object="${articles}">
    <div>
        <h1 class="font-bold text-2xl">Liste des enchères</h1>
    </div>

    <div id="filtreDeco">
        <input type="text" id="myInput" placeholder="Le nom de l'article contient">
        <form class="max-w-sm mx-auto">
            <label for="countries"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Catégorie</label>
            <select id="countries"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected value="Toutes">Toutes</option>
                <option value="Ameublement">Ameublement</option>
                <option value="Informatique">Informatique</option>
                <option value="Loisir">Loisir</option>
                <option value="Sport">Sport</option>
                <option value="Vetement">Vêtements</option>
                <!--<option value="Autres">Autres</option>-->
            </select>
        </form>
        <button type="button"
                class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Recherche
        </button>
    </div>

    <div>

    </div>

    <div th:each="article : ${articles}">
        <ul class="max-w-xl mx-auto">
            <img src="images/logo.jpg" class="h-10">
            <li><a href="#" class="underline" th:text="${article.nomArticle}">Nom de l'annonce</a></li>
            <li>Prix : <span th:text="${article.miseAPrix}"></span></li>
            <li>Fin d'enchère : <span th:text="${article.dateFinEncheres}"></span></li>
            <li>Vendeur : <span th:text="${article.utilisateur.pseudo}"></span></li>
        </ul>

    </div>
<!--    <table class="min-w-full table-auto border-collapse mt-5">-->
<!--        <tbody>-->
<!--        <tr th:each="enchere: ${detailEnchaire}">-->
<!--            <td class="px-4 py-2 border border-sky-500" th:text="${jeu.noJeu}"></td>-->
<!--            <td class="px-4 py-2 border border-sky-500">-->
<!--                &lt;!&ndash;  <img th:if="${jeu.image != null}" th:src="'data:image/jpeg;base64,' + ${@imageService.convertByteToString(jeu.image.data)}" alt="Image" style="height: 100px; width: 200px;"/>-->
<!--                  <img th:if="${jeu.image == null}" src="/images/la-cryte-du-jeu-logo-16133977282.jpg" alt="Image" style="height: 100px; width: 200px;"/>&ndash;&gt;-->
<!--            </td>-->
<!--            <td class="px-4 py-2 border border-sky-500"><span th:text="${enchere.exemplaires.size}"></span></td>-->
<!--            <td class="px-4 py-2 border border-sky-500" th:text="${ArticleVendu.prix}"></td>-->
<!--            <td class="px-4 py-2 border border-sky-500" th:text="${ArticleVendu.finEnchere}"></td>-->
<!--            <td class="px-4 py-2 border border-sky-500" th:text="${ArticleVendu.vendeur}"></td>-->
<!--            <td class="px-4 py-2 border border-sky-500"><span th:each="jeu : ${jeu.genres}"-->
<!--                                                              th:text="${jeu.libelle} + ' '"></span></td>-->

<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
</div>
</div>