<h1 th:text="${utilisateur.noUtilisateur} ? 'Modifier votre profil' : 'Créer votre profil'" class="text-3xl font-bold pb-8 text-gray-900 text-center">
</h1>

<form   th:action="${noUtilisateur} ? '/utilisateurs/ajouter' : '/utilisateurs/modifier'" th:object="${utilisateur}" method="post" style="padding-top: 33px"
        class="max-w-sm mx-auto h-full flex justify-center flex-col">

    <input type="hidden" th:field="*{noUtilisateur}" th:value="${utilisateur.noUtilisateur}">

    <div class="overflow-scroll">
            <div class="p-5 flex-col gap-5">

        <div class="mb-5">
            <label for="pseudo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pseudo</label>
            <input type="text" id="pseudo" th:field="*{pseudo}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Pseudo">
        </div>

        <div class="mb-5">
            <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
            <input type="text" id="nom" th:field="*{nom}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Nom">
        </div>

        <div class="mb-5">
            <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom</label>
            <input type="text" id="prenom" th:field="*{prenom}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Prénom">
        </div>

        <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
        <input type="text" id="email" th:field="*{email}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="E-mail">
        </div>

        <div class="mb-5">
        <label for="tel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Téléphone</label>
        <input type="text" id="tel" th:field="*{telephone} "class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Téléphone">
        </div>

        <div class="mb-5">
            <label for="rue" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rue</label>
            <input type="text" id="rue" th:field="*{rue}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Rue">
        </div>

        <div class="mb-5">
            <label for="codePostal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code Postal</label>
            <input type="text" id="codePostal" th:field="*{codePostal}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Code Postal">
        </div>

        <div class="mb-5">
            <label for="ville" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ville</label>
            <input type="text" id="ville" th:field="*{ville}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Ville">
        </div>

        <div class="mb-5">
            <label for="motDePasse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
            <input type="text" id="motDePasse" th:field="*{motDePasse}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Mot de passe">
        </div>
            </div>
        </div>
    <button type="submit" th:text="${utilisateur.noUtilisateur} ? 'Enregistrer' : 'Créer votre profil'"
            class="text-white mb-2 bg-blue-700 hover:bg-blue-800 focus:ring-4
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg
                text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                dark:focus:ring-blue-800"></button>

    <div th:if="${afficherBoutonSupprimer}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg
                text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                dark:focus:ring-blue-800">
    <button type="button" ><a th:href="@{/utilisateurs/supprimer/{noUtilisateur}(noUtilisateur = ${noUtilisateur})}">Supprimer mon profil</a></button>
    </div>
    </form>