<h1 class="text-3xl font-bold pb-8 mt-12 text-gray-900 text-center">Modifier votre mot de passe</h1>

<form method="post" th:action="@{/utilisateurs/modifier/motDePasse}" th:object="${userUpdatePasswordDto}" class="max-w-sm mx-auto flex justify-center flex-col">

    <label for="motDePasse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nouveau mot de passe</label>
    <input type="text" id="motDePasse" th:field="*{nouveauMotDePasse}" class="shadow-sm mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Nouveau mot de passe">

    <label for="pseudo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmation du nouveau mot de passe</label>
    <input type="text" id="pseudo" th:field="*{confirmationMotDePasse}" class="shadow-sm mb-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Confirmation du nouveau mot de passe">

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg
                text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                dark:focus:ring-blue-800">Envoyer</button>

</form>